* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  background: #f28ab2;
}
.users {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  justify-content: center;
}

.user {
  background: white;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

img {
  border-radius: 5px 5px 0 0;
  width: 200px;
  height: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.content a {
  text-decoration: none;
  color: gray;
}
